img{
  max-width: 200px;
  max-height: 200px;
}
ul{
  list-style-type: none;
  
}
.productU, ul{
  display: flex;
  max-width: 300px;
  max-height: 300px;
 justify-items: center;
 
  
}
.productListItem{
  border: 1px solid black;
  align-content: center;
}