#root {
  width: 1400px;
  margin: 0 auto;
padding: 0;
  text-align: center;
  border: 1px solid black;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  
}
#rootdiv{
  height: 100%;
}

#headerdiv{
  border: 1px solid black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#nav{
  display: flex;
  gap: 40px;
}
.pagediv{
  border: 1px solid black; 
  min-height: 535px;
}
#footer{
  height: 100px;
  border: 1px solid black;
  

}
img{
  max-width: 350px;
  max-height: 350px;
}
.productUL {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
  padding-left: 0;
  gap: 20px;
}
.productListItem {
  width: 30%; 
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  
}
.shoppingCartIcon{
  max-width: 20px;
  max-height: 20px;
}